body{
    font-family: Arial, Helvetica, sans-serif
    
}
h1{
    font-size: 35px;
    margin-bottom: 20px;
}
h2{
    font-size:20px;
}
h3{
    font-size:15px;
    color:red;
}
a{
    color:blue;
    text-decoration:underline;
}
img{
    border:2px solid;
    background-color:aliceblue;
    padding:5px;
}
.date{
    font-size:15px;
    color:red;
    margin-top:40px;
}
